// ── Colours ───────────────────────────────────────
$moonstone: #64a6bd;
$indigo-dye: #08415c;
$indigo-dye-off: rgb(9, 75, 105);
$papaya-whip: #ffecd1;
$violet-jtc: #522b47;
$dark-purple: #32161f;

// ── Breakpoints (width) ───────────────────────────
$sm: 640px;
$md: 786px;
$lg: 1024px;
$xl: 1280px;

// ── Breakpoints (height) ──────────────────────────
$smh: 400px;
$mdh: 600px;
$lgh: 800px;
