@import './Imports/Colours.scss';
@import './Imports/Breakpoints.scss';

$nav-bg-color: $indigo-dye;
$nav-link-color: white;
$nav-link-color-hover: $moonstone;

.navbar {
  padding: 0;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 100;

  ul {
    display: flex;
    gap: 30px;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    color: $nav-link-color;
    text-decoration: none;
    transition: color 0.2s ease-out;

    &:hover {
      color: $nav-link-color-hover;
    }
  }

  .nav-logo {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    color: white;
    background-color: $nav-bg-color;
    transition: color 0.2s ease-out;
    margin: 0 0 0 30px;
    padding: 0 10px;
    border-radius: 0 0 2px 2px;
    cursor: default;

    &:hover {
      color: $nav-link-color-hover;
    }
  }

}